.striker {
  background-color: #cbce23;
}

.winger {
  background-color: #dfa505;
}

.attacking-mid {
  background-color: #399cca;
}

.center-mid {
  background-color: #5260ff;
}

.defensive-mid {
  background-color: #2e0fa0;
}

.fullback {
  background-color: #1ca352;
}

.centerback {
  background-color: #0b6b28;
}

.goal-keeper {
  background-color: #eb445a;
}

.position-tile {
  border-radius: 4px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.player-name-col {
  padding-left: 8px;
}
